<launch>
<!--launch image_view for left camera, and find_red_pixels for left camera-->
<!--<node pkg="image_view" type="image_view" name="image_view_left">
<param name="autosize" value="false"/>
<remap from="image" to="/zedm/zed_node/left/image_rect_gray"/>
</node>-->

<!--<node pkg="aaw_ros" type="aaw_visualServo" name="aaw_visualServo_left" output="screen">
<remap from="simple_camera/image_raw" to="/zedm/zed_node/left/image_rect_gray"/>
</node>

<node pkg="aaw_ros" type="aaw_visualServo" name="aaw_visualServo_right" output="screen">
<remap from="simple_camera/image_raw" to="/zedm/zed_node/right/image_rect_gray"/>
</node>-->

<node pkg="aaw_ros" type="aaw_visualServo" name="aaw_visualServo_doubleView" output="screen">
<remap from="/image_raw/left" to="/zedm/zed_node/left/image_rect_gray"/>
<remap from="/image_raw/right" to="/zedm/zed_node/right/image_rect_gray"/>
</node>

</launch>
